<launch>

<!--============================================================================
    SET UP ARGUMENTS
=============================================================================-->
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="name" default="yumi" />

  <arg name="rviz" default="false" />

<!--============================================================================
    SET UP UNITY INTERFACE
=============================================================================-->

  <include file="$(find unity_connection)/launch/unity_interface.launch">
  </include>

  <!-- Joint state and robot state publisher calls -->
  <node name="yumi_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list">["/yumi/joint_states", "/yumi/gripper_states"]</rosparam>
  </node>

  <node name="yumi_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!--============================================================================
    SET UP MOVEIT
=============================================================================-->
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find yumi_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run the main MoveIt executable with trajectory execution and RViz tool -->
  <include file="$(find yumi_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find yumi_moveit_config)/launch/moveit_rviz.launch" if="$(arg rviz)">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Disable Moveit! controller timeout -->
  <param name="move_group/trajectory_execution/execution_duration_monitoring" value="false" />

</launch>
